.page-info{
    margin-left: 5%;
}
.name{
    display: flex;
}
.user-input{
    margin: 0;
    width: 25vw;
}
.second{
    margin-left: 4%;
}
.user-form-input{
    margin-left: 0;
}
.user-select{
    width: 53vw;
    height: 5vh;
    border: 1px solid #a6a6a6a8;
}
.user-form-select{
    margin: 0;
    width: 25vw;
    height: 5vh;
    border: 1px solid #a6a6a6a8;
}